/* Elements */

body {}

h1 {
    color: rgba(255, 255, 255, .88);
    font-weight: bold;
    font-size: 3.5vw;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 5vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}

/* Card */

.cc-card {
    height: 160px;
    width: 200px;
    /* background-image: linear-gradient(rgba(256, 256, 256, 100), rgb(256, 128, 128)); */
    box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12),
        0 5px 15px rgba(0, 0, 0, 0.06);
    transition: all .15s ease;
    border-radius: .5rem;
    display: inline-block;
    flex-direction: column;
    margin: 0px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.s {
    background-color: #8F4860;
}

.a {
    background-color: #855A83;
}

.b {
    background-color: #6F6E9B;
}

.c {
    background-color: #5A7FA4;
}

.d {
    background-color: #558EA1;
}

.f {
    background-color: #669999;
}

.w {
    background-color: rgba(255, 255, 255, 0.2);
}

.clear {
    background-color: rgb(88, 154, 171);
}

.cc-card-bg {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    width: 100%;
    padding-bottom: 60%;
    border-radius: 0.5rem;
    display: inline-block;
}

/*  */
/* S Tier */
/*  */

.dabuz {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/c_thumb,w_200,g_face/v1562551825/maxresdefault_cc9jci.jpg);
}

.esam {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/c_thumb,w_200,g_face/v1562551826/esamcover_1024x1024_qtzpmq.png);
}

.m2k {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/c_thumb,w_200,g_face/v1562551825/lolm2k_ooodxt.png);
}

.patch-310 {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/c_thumb,w_200,g_face/v1562551824/images_nlsswn.jpg);
}

.snake {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551750/snake_i7ut9c.png);
}

.joker {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551759/joker_dzaxao.png);
}

.wolf {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/wolf_pf4o5p.png);
}

.lucina {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/lucina_eydh4p.png);
}

.pikachu {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/pikachu_owiirg.png);
}

.zero-suit-samus {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551759/zero-suit-samus_fmakan.png);
}

.palutena {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/palutena_g5bcla.png);
}

.peach {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/peach_k7ofh0.png);
}

.chrom {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/chrom_s7ti9t.png);
}

.inkling {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/inkling_zb8drc.png);
}

.shulk {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/shulk_nyrinc.png);
}

.ken {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551758/ken_wwsfbs.png);
}

/*  */
/* A Tier */
/*  */

.roy {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551757/roy_bnf0yl.png);
}

.wario {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551757/wario_yp4cyc.png);
}

.ryu {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551757/ryu_qoruuz.png);
}

.fox {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/fox_ysduqp.png);
}

.pichu {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/pichu_cm4nxu.png);
}

.pacman {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/pacman_hueizx.png);
}

.mario {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/mario_fm1hsl.png);
}

.lucario {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/lucario_r2qnjv.png);
}

.greninja {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/greninja_wzc3v3.png);
}

.ike {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551755/ike_pl7emi.png);
}

/*  */
/* B Tier */
/*  */

.rob {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551754/rob_cogawh.png);
}

.megaman {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551754/megaman_fip5qe.png);
}

.ness {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551754/ness_c9greu.png);
}

.yoshi {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551755/yoshi_w0z2dm.png);
}

.olimar {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551754/olimar_nny6f8.png);
}

.link {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551754/link_xcgeqg.png);
}

.pokemon-trainer {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551753/pokemon-trainer_urdqhm.png);
}

.wii-fit-trainer {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551754/wii-fit-trainer_ydx8sv.png);
}

.mr-game-and-watch {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551753/mr-game-and-watch_jmzf8b.png);
}

.luigi {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551753/luigi_qof2cv.png);
}

.diddy-kong {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551754/diddy-kong_eoplxw.png);
}

.bowser {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/bowser_mp0cgy.png);
}

.marth {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551750/marth_r2jxgo.png);
}

/*  */
/* C Tier */
/*  */

.bayonetta {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/bayonetta_inbj8d.png);
}

.duck-hunt {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/duck-hunt_enpusx.png);
}

.sheik {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/sheik_wcuhjf.png);
}

.young-link {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/young-link_h7mxog.png);
}

.richter {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551753/richter_eejly0.png);
}

.zelda {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/zelda_z8tvbe.png);
}

.cloud {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/cloud_u6kv9s.png);
}

.captain-falcon {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/captain-falcon_hzofx2.png);
}

.falco {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551750/falco_ulcf2o.png);
}

.ice-climbers {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551750/ice-climbers_riyme2.png);
}

.donkey-kong {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551750/donkey-kong_uzqpf4.png);
}

.ganondorf {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551750/ganondorf_s5ge9h.png);
}

.robin {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/robin_nksdgl.png);
}

.meta-knight {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551750/meta-knight_ekshbv.png);
}

/*  */
/* D Tier */
/*  */

.rosalina-and-luma {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551757/rosalina-and-luma_ssgb3p.png);
}

.toon-link {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551757/toon-link_cnpice.png);
}

.king-dedede {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551757/king-dedede_ujeo2e.png);
}

.inceneroar {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551757/inceneroar_iwqona.png);
}

.ridley {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551757/ridley_vsy8yp.png   );
}

.sonic {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/sonic_nxd7p2.png);
}

.little-mac {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/little-mac_fuvz1b.png);
}

.lucas {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551755/lucas_ucj5hq.png);
}

.mewtwo {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551755/mewtwo_d2ouig.png);
}

.dr-mario {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551756/dr-mario_uu9xus.png);
}

.dark-samus {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551755/dark-samus_ea2zut.png);
}

.samus {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/samus_r4rlgl.png);
}

.dark-pit {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/dark-pit_sgt0gm.png);
}

.pit {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551754/pit_jxuaq1.png);
}

.corrin {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551752/corrin_emdatc.png);
}

.villager {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/villager_cfrots.png);
}

/*  */
/* F Tier */
/*  */

.bowser-jr {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/bowser-jr_ts9fue.png);
}

.king-k-rool {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/king-k-rool_iptxrd.png);
}

.jigglypuff {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/jigglypuff_ceupj1.png);
}

.pirhana-plant {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/pirhana-plant_aowpkj.png);
}

.isabelle {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551750/isabelle_bqwqnz.png);
}

.kirby {
    background-image: url(https://res.cloudinary.com/dnrbgmcm4/image/upload/v1562551751/kirby_ue8tke.png);
}

.cc-card:hover {
    transform: scale(0.95);
    box-shadow: 0 20px 40px 0 rgba(42, 51, 83, 0.2),
        0 10px 20px rgba(0, 0, 0, 0.2);
}

.cc-card-content {
    padding: 0.25rem;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.cc-card-title {
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.cc-card-action {
    text-decoration: none;
    font-size: 14px;
    color: #4e616c;
}

/* Classes */

.sidenav {
    height: 100%;
    width: 5vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    overflow-x: hidden;
    padding-top: 20px;
    padding: 0 auto;
    display: inline;
    text-align: center;
}

@media (max-width: 800px) {
    .cc-card {
        height: 20vw;
        width: 20vw;
    }
}

.sidenav a {
    padding: 25px 0px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.header {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.container {
    width: 85%;
    margin: 0 auto;
}

div .notification.has-text-centered {
    /* color: black;
    font-weight: bold; */
}

.notification {
    /* background-color: rgba(0, 0, 0, 0.1); */
    width: 94%;
    margin: 0 auto;
    text-align: center;
    /* font-size: 3rem; */
}

/*  */